<a href="https://colab.research.google.com/github/avantikachat21/Web-Scrapping-Covid/blob/master/Web_Scrapping_Corona_Virus_data_into_Ms_Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scrapping Corona Virus data into Ms Excel

## Requests

Import Library

In [1]:
import requests

Make request from webpage

In [2]:
url =' https://www.worldometers.info/coronavirus/country/india/'
result = requests.get(url)
#result.text

## Beautiful Soup

In [3]:
import bs4

## Creating soup object

## Create soup object

In [4]:
soup = bs4.BeautifulSoup(result.text, 'lxml')
#soup

# Extracting the Data

## find the div

In [5]:
#find-all method
cases = soup.find_all('div', class_ = 'maincounter-number')

In [6]:
cases

[<div class="maincounter-number">
 <span style="color:#aaa">26,530,132 </span>
 </div>, <div class="maincounter-number">
 <span>299,296</span>
 </div>, <div class="maincounter-number" style="color:#8ACA2B ">
 <span>23,425,467</span>
 </div>]

## Storing the data

### python list

In [7]:
data = []

### find the span and get data from it

In [8]:
for i in cases:
    span = i .find('span')
    data.append(span.string)

In [9]:
data

['26,530,132 ', '299,296', '23,425,467']

## Exporting the Data

In [10]:
import pandas as pd


### create a dataframe

In [11]:
df = pd.DataFrame({'CoronaData': data})

### naming the columns

In [12]:
df.index = ['TotalCases', 'Deaths', 'Recovered']

In [13]:
df

             CoronaData
TotalCases  26,530,132
Deaths          299,296
Recovered    23,425,467

### naming the file

In [15]:
df.to_csv('Corona_Data.csv')